{% extends 'back/master_back.html' %}

{% load static %}


    {% block headblock %}

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'back/plugins/table/datatable/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'back/plugins/table/datatable/custom_dt_html5.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'back/plugins/table/datatable/dt-global_style.css' %}">

    {% endblock %}



    {% block page_content %}
    <!-- padding : 0 on both sides -->

    <div class="container" style="padding: 10px 0px 0px 0px !important; margin-top: 35px;">
        <div class="container">

            <!-- table -->
            <div id="tableDropdown" class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">

                            <!-- page title -->
                            <div class="col-xl-12 col-lg-11 col-md-11 col-sm-10 col-10 pt-4 pl-4">
                                <h4>Event List</h4>
                            </div>

                        </div>
                    </div>

                    <div class="widget-content widget-content-area">
                        <div class="table-responsive">

                            <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Index</th>
                                        <th class="text-center">Event Name</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for events in events %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}}</td>
                                        <td class="text-center">{{events.name | title}}</td>
                                        
                                        <td class="text-center">

                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink7">
                                                    <a class="dropdown-item" href="{% url 'event_image' event_pk=events.pk %}">Manage Images</a>
                                                    <a class="dropdown-item" href="{% url 'event_back_edit' event_pk=events.pk %}">Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#event_{{events.pk}}">Delete</a>
                                                </div>

                                                 <!-- Delete Confirm -->
                                                 <div class="modal fade bottom" id="event_{{events.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="opacity: 1;">
                                                    <div class="modal-dialog modal-frame modal-bottom" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <div class="row d-flex justify-content-center align-items-center">

                                                                    <p class="pt-3 pr-2">
                                                                    This action will delete the Event <b>"{{events.name | title}}"</b> completely and it is
                                                                    irreparable by nature. Once it is gone it is gone !
                                                                    </p>

                                                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                                                                    <a href="{% url 'event_back_delete' event_pk=events.pk %}"><button type="button" class="btn btn-dark"><b>Delete</b></button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>

            <!-- form -->
            <div id="ftFormArray" class="col-lg-12 col-12 layout-spacing" style="padding-bottom: 60px;">
                <div class="statbox widget box box-shadow">

                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12" style="margin-top: 20px; margin-left: 7px;">
                                <h4>Event Add</h4>
                            </div>
                        </div>
                    </div>

                    <div class="widget-content widget-content-area custom-autocomplete h-100">

                        <!-- {{demo}} -->
                        <form onsubmit="myFunction()" action="{% url 'event_back' %}" method="post" id="quillForm1" name="quillForm1" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}

                            <div class="form-row mb-4">
                                <div class="form-group col-md-6">
                                    <label for="name">Event Name *</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Bangalore ..." required>
                                    <small id="emailHelp1" class="form-text text-muted mb-4" style="margin-left: 5px;">Event name must be unique</small>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="form-group col-md-6">
                                    <label for="title">Event Title *</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Bangalore Art Exibition ..." required>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="form-group col-md-6">
                                    <label for="intro">Event Intro *</label>
                                    <input type="text" class="form-control" id="intro" name="intro" placeholder="Eat, Sleep, Code Repeat ..." required>
                                </div>
                            </div>

                            <div class="form-row mb-4">
                                <div class="form-group col-md-6">
                                    <label for="detail">Event Detail</label>
                                    <textarea name="detail" id="detail" rows="3" class="form-control" placeholder="We are here because ..." required></textarea>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary mt-3">Add</button>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}


    {% block footerblock  %}

    <script>

        $("input[name='number']").TouchSpin({
            verticalbuttons: true,
            buttondown_class: "btn btn-classic btn-outline-info",
            buttonup_class: "btn btn-classic btn-outline-danger"
        });

    </script>

    
    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="{% static 'back/plugins/table/datatable/datatables.js' %}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'back/plugins/table/datatable/button-ext/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'back/plugins/table/datatable/button-ext/jszip.min.js' %}"></script>    
    <script src="{% static 'back/plugins/table/datatable/button-ext/buttons.html5.min.js' %}"></script>
    <script src="{% static 'back/plugins/table/datatable/button-ext/buttons.print.min.js' %}"></script>


    <script>
        $('#html5-extension').DataTable( {
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 10 
        } );
    </script>




    {% endblock %}
