{% extends 'back/master_back.html' %}

{% load static %}


    {% block headblock %}

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>

    <!-- smartphoto -->
    <link rel="stylesheet" href="{% static 'back/plugins/smartphoto/smartphoto.min.css' %}">

    {% endblock %}



    {% block page_content %}
    <!-- padding : 0 on both sides -->

    <div class="container" style="padding: 10px 0px 0px 0px !important; margin-top: 35px;">
        <div class="container">

            <!-- form -->
            <div class="row layout-top-spacing">

                <div id="ftFormArray" class="col-lg-12 layout-spacing">
                    <div class="statbox widget box box-shadow">

                        <div class="widget-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Product-Sheet Edit</h4>
                                </div>
                            </div>
                        </div>

                        <div class="widget-content widget-content-area custom-autocomplete h-100">

                            <!-- {{demo}} -->
                            <form onsubmit="myFunction()" action="#" method="post" id="quillForm1" name="quillForm1" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="index">Index</label>
                                        <input type="number" id="index" name="index" value="{{sheet.index}}" required>
                                        <!-- have to initiate the TouchSpin -->
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="nnumberame">Sheet-Number *</label>
                                        <input type="text" class="form-control" id="number" name="number" value="{{sheet.number}}" placeholder="1001">
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="name">Sheet-Name</label>
                                        <input type="text" class="form-control" id="name" name="name" value="{{sheet.name}}" placeholder="Silver-Oak">
                                    </div>
                                </div>
                                
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="finish">Sheet-Finish</label>
                                        <input type="text" class="form-control" id="finish" name="finish" value="{{sheet.finish}}" placeholder="AB-12, BC-69, ND-18s">
                                    </div>
                                </div>
                                
                                <div class="form-row mb-4">
                                    <div class="form-group col-md-3">
                                        <label for="size">Sheet-Size</label>
                                        <input type="text" class="form-control" id="size" name="size" value="{{sheet.size}}" placeholder="1220x2440 mm">
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="image1" style="margin-bottom: 0px;">Image</label>

                                        <!-- selected -->
                                        <h6 class="mt-2">Selected : &nbsp;&nbsp;
                                            {% if sheet.image1 %}
                                            <a href="{{sheet.image1.url}}" class="js-smartPhoto" data-caption="" >
                                                <img src="{{sheet.image1.url}}" alt="blog_image" style="height: 50px; border-radius: 10%;">
                                            </a>
                                            {% else %}
                                                <h6>None</h6>
                                            {% endif %}
                                        </h6>

                                        <div class="custom-file-container" data-upload-id="myFirstImage">
                                            <label><a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image"></a></label>
                                            <label class="custom-file-container__custom-file" >
                                                <input type="file" name="image1" id="image1" class="custom-file-container__custom-file__custom-file-input">
                                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                                            </label>
                                            <div class="custom-file-container__image-preview"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mb-4">
                                    <div class="form-group col-md-6">
                                        <label for="has_detail">Has Detailed View</label>
                                        <label class="switch s-dark mr-2" style="margin-left: 30px; margin-bottom: -3px;">
                                            {% if sheet.has_detail == True %}
                                            <input type="checkbox" id="has_detail" name="has_detail" value="True" checked>
                                            {% else %}
                                            <input type="checkbox" id="has_detail" name="has_detail" value="True">
                                            {% endif %}
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
    

                                <button type="submit" class="btn btn-primary mt-3">Edit</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}


    {% block footerblock  %}

    <!-- smartphoto -->
    <script src="{% static 'back/plugins/smartphoto/smartphoto.min.js' %}"></script>
    <script>
        window.addEventListener('DOMContentLoaded',function(){
            new SmartPhoto(".js-smartPhoto");
        });
    </script>

    <script>
      $("input[name='index']").TouchSpin({
          max: 1000000,
          verticalbuttons: true,
          buttondown_class: "btn btn-classic btn-outline-info",
          buttonup_class: "btn btn-classic btn-outline-danger"
      });
      $("input[name='--']").TouchSpin({
          max: 1000000,
          verticalbuttons: true,
          buttondown_class: "btn btn-classic btn-outline-info",
          buttonup_class: "btn btn-classic btn-outline-danger"
      });
    </script>



    {% endblock %}
