{% extends 'front/master_front.html' %}

{% load static %}


    {% block headblock %}

		<link rel='stylesheet' id='wp-color-picker-css'  href='{% static "front/css/color-picker.min7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='wp-block-library-css'  href='{% static "front/css/style.min7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='wc-block-style-css'  href='{% static "front/css/style60a8.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='contact-form-7-css'  href='{% static "front/css/styles5fba.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='mphb-kbwood-datepick-css-css'  href='{% static "front/css/jquery.datepickcd70.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='mphb-css'  href='{% static "front/css/mphb.mincd70.css" %}' type='text/css' media='all' />

		<link rel='stylesheet' id='holleta-icons-css'  href='{% static "front/css/iconfont7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='fontawesome-css'  href='{% static "front/css/fontawesome.min7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='holleta-style-css'  href='{% static "front/css/style7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='swiper-css'  href='{% static "front/css/swiper268f.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='holleta-main-style-css'  href='{% static "front/css/main7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='woocommerce-general-css'  href='{% static "front/css/woocommerce7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='woocommerce-layout-css'  href='{% static "front/css/woocommerce-layout7263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='select2-css'  href='{% static "front/css/select27263.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='holleta-typekit-css'  href='{% static "front/css/qca6mqh68b3.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='photoswipe-css'  href='{% static "front/css/photoswipe.css" %}' type='text/css' media='all' />
		<link rel='stylesheet' id='pt-addons-css'  href='{% static "front/css/pt-addons7263.css" %}' type='text/css' media='all' />
		<script type='text/javascript' src='{% static "front/js/jquery4a5f.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/jquery-migrate.min330a.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/jquery.blockUI.min44fd.js" %}'></script>

		<script type='text/javascript' src='{% static "front/js/add-to-cart.min3a05.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/woocommerce-add-to-cart10df.js" %}'></script>

		<script type='text/javascript' src='{% static "front/js/zilla-likes7263.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/pace.min8a54.js" %}'></script>

        <style type="text/css" title="dynamic-css" class="options-output">body{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 400;font-size: 16px;}h1, .h1{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 72px;}h2, .h2{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 62px;}h3, .h3{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 52px;}h4, .h4{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 42px;}h5, .h5{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 30px;}h6, .h6{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 18px;}</style>
		
	{% endblock %}



	{% block page_content %}
	
            <section class="banner-area banner-404 bsl-left">
                <div class="banner-item">
                    <div class="bg-overlay">

                    </div>
                    <div class="container full-height">
                        <div class="content-row">
                            
							<div class="bg-text">404</div>
                            
							<div class="heading-block">
                                <div class="h h1">Oops 404 Again! That Page Can't Be Found.</div>
                            </div>
							
							{% for messages in messages %}
							<div class="text">{{messages}}</div>
							{% endfor %}
                            
							<a class="button-style1" href="{% url 'home' %}" target="_self" data-magic-cursor="link">
								<span>Return home</span>
							</a>

                        </div>
                    </div>
                </div>
            </section>
            <!-- <div class="menu-overlay"></div> -->

	{% endblock %}



	{% block footerblock  %}

		<script type='text/javascript' src='{% static "front/js/scripts5fba.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/can.custom.mincd70.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/jquery.plugin.mincd70.js" %}'></script>
		<script type='text/javascript' src='{% static "front/js/jquery.datepick.mincd70.js" %}'></script>

        <script type='text/javascript' src='{% static "front/js/js.cookie.min6b25.js" %}'></script>

        <script type='text/javascript' src='{% static "front/js/woocommerce.min3a05.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/jquery.cookie.min330a.js" %}'></script>

        <script type='text/javascript' src='{% static "front/js/Cart.min370e.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/magic-cursor8a54.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/isotope.pkgd.min7c45.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/jquery.scrollbar.min22c9.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/swiper.min48f5.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/scripts.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/js_composer_front.min8a54.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/parallax.min.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/photoswipe.min0235.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/photoswipe-ui-default.min0235.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/imagesloaded.min55a0.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/load-posts8a54.js" %}'></script>

        <script type='text/javascript' src='{% static "front/js/pt-scripts8a54.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/wp-embed.min7263.js" %}'></script>
        <script type='text/javascript' src='{% static "front/js/forms.mine049.js" %}'></script>

    {% endblock %}
