{% extends 'front/master_front.html' %}

{% load static %}


        {% block headblock %}

            <link rel='stylesheet' id='wp-color-picker-css'  href='{% static "front/css/color-picker.min7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='wp-block-library-css'  href='{% static "front/css/style.min7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='wc-block-style-css'  href='{% static "front/css/style60a8.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='contact-form-7-css'  href='{% static "front/css/styles5fba.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='mphb-kbwood-datepick-css-css'  href='{% static "front/css/jquery.datepickcd70.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='mphb-css'  href='{% static "front/css/mphb.mincd70.css" %}' type='text/css' media='all' />

            <link rel='stylesheet' id='holleta-icons-css'  href='{% static "front/" %}css/iconfont7263.css' type='text/css' media='all' />
            <link rel='stylesheet' id='js_composer_front-css'  href='{% static "front/css/js_composer.min10df.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='fontawesome-css'  href='{% static "front/css/fontawesome.min7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='holleta-style-css'  href='{% static "front/css/style7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='swiper-css'  href='{% static "front/css/swiper268f.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='holleta-main-style-css'  href='{% static "front/css/main7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='woocommerce-general-css'  href='{% static "front/css/woocommerce7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='woocommerce-layout-css'  href='{% static "front/css/woocommerce-layout7263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='select2-css'  href='{% static "front/css/select27263.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='holleta-typekit-css'  href='{% static "front/css/qca6mqh68b3.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='photoswipe-css'  href='{% static "front/css/photoswipe.css" %}' type='text/css' media='all' />
            <link rel='stylesheet' id='pt-addons-css'  href='{% static "front/css/pt-addons7263.css" %}' type='text/css' media='all' />
            <script type='text/javascript' src='{% static "front/js/jquery4a5f.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery-migrate.min330a.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery.blockUI.min44fd.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/add-to-cart.min3a05.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/woocommerce-add-to-cart10df.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/zilla-likes7263.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/pace.min8a54.js" %}'></script>

            <style type="text/css" title="dynamic-css" class="options-output">body{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 400;font-size: 16px;}h1, .h1{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 72px;}h2, .h2{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 62px;}h3, .h3{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 52px;}h4, .h4{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 42px;}h5, .h5{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 30px;}h6, .h6{font-family: lato,Arial, Helvetica, sans-serif;font-weight: 600;font-size: 18px;}</style>

        {% endblock %}



        {% block page_content %}
        
            <div class="post-page-top with-image">
                <div class="bg-overlay">
                    <div class="image 50% 50%" style="background-image: url({% static 'front/images/img11.jpg' %});"></div>
                    <div class="color"></div>
                </div>
                <div class="container">
                    <h1 class="post-title">Privacy Policy</h1>
                </div>
            </div>

            <main class="main-container">
                <div class="container">

                    <div class="share-stick-block black">
                        <div class="social-links">
                            <a href="https://www.facebook.com/levin.decor.7" target="_blank"><i class="base-icon-facebook"></i></a>
                            <a href="https://www.instagram.com/levindecorllp/" target="_blank"><i class="base-icon-instagram"></i></a>
                        </div>
                    </div>
                    <div class="post-nav">
                        <div class="breadcrumbs">
                            <a href="{% url 'home' %}">Home</a><i class="base-icon-next-2"></i>
                            <a href="#" rel="category tag">Policies</a><i class="base-icon-next-2"></i>
                            Privacy Policy
                        </div>
                        <div class="back-h-button" onclick="history.back();">
                            <i class="base-icon-prev-3"></i>
                            <span>Back</span>
                        </div>
                    </div>

                    <article id="post-481" style="padding-bottom: 80px;" class="post-content-block post-481 post type-post status-publish format-standard has-post-thumbnail hentry category-creativity category-news">
                        <div class="post-content">
                            <div class="clearfix">
                                <div class="vc_row wpb_row vc_row-fluid vc_row-603def9339c6d">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_column_container-603def933a0f0">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                
                                                <div class="wpb_text_column wpb_content_element  wpb_text_column-5dd28bce18ccf" >
                                                    <div class="wpb_wrapper">
                                                        <h3 style="margin-top: 50px;">PRIVACY POLICY</h3>
                                                        <p>
                                                            This page informs you of our policies regarding the collection, use, and disclosure of Personal Information when you use our Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                                                        </p>
                                                        <p>
                                                            We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="{% url 'home' %}" style="color: #FDBA0B;">levindecor.in</a>.
                                                        </p>
                                                        <!-- <div style="background: url('images/img13.jpg') 50%; background-size: cover;">
                                                            <div style="padding-bottom: 55%;"></div>
                                                        </div> -->
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">INFORMATION COLLECTION & USE</h5>
                                                        <p>
                                                            While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">LOG DATA</h5>
                                                        <p>
                                                            We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                                                        </p>
                                                        <p>
                                                            All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">SERVICE PROVIDERS</h5>
                                                        <p>
                                                            We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">SECURITY</h5>
                                                        <p>
                                                            The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">LINKS TO OTHER SITES</h5>
                                                        <p>
                                                            Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
                                                        </p>
                                                        <p>
                                                            We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">CHANGES TO THIS POLICY</h5>
                                                        <p>
                                                            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
                                                        </p>
                                                        <p>
                                                            You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element" >
                                                    <div class="wpb_wrapper">
                                                        <h5 style="margin-top: 50px;">CONTACT US</h5>
                                                        <p>
                                                            If you have any questions about this Privacy Policy, please <a href="{% url 'contact' %}" style="color: #FDBA0B;">contact us</a>.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </main>

        {% endblock %}



        {% block footerblock  %}

            <style id='pt-inline-inline-css' type='text/css'>
                .wpb_text_column-5dd28be465ee4{margin-bottom:0px !important}
                .wpb_text_column-5e99712662d08{margin-top:35px !important}
            </style>

            <script type='text/javascript' src='{% static "front/js/scripts5fba.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/can.custom.mincd70.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery.plugin.mincd70.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery.datepick.mincd70.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/mphb.mincd70.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/js.cookie.min6b25.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/woocommerce.min3a05.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery.cookie.min330a.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/Cart.min370e.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/magic-cursor8a54.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/isotope.pkgd.min7c45.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/jquery.scrollbar.min22c9.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/swiper.min48f5.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/scripts.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/comment-reply.min7263.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/js_composer_front.min8a54.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/parallax.min.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/photoswipe.min0235.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/photoswipe-ui-default.min0235.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/imagesloaded.min55a0.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/load-posts8a54.js" %}'></script>

            <script type='text/javascript' src='{% static "front/js/pt-scripts8a54.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/wp-embed.min7263.js" %}'></script>
            <script type='text/javascript' src='{% static "front/js/forms.mine049.js" %}'></script>


        {% endblock %}